#login-form{
    /* border:2px solid gray; */
    box-sizing:border-box;
    width:250px;
    height:330px;
    margin:25px;
    margin-top:30px;
    padding-left:35px;
    padding-top:120px;
    background-color:rgba(0,0,0,0.3);
}
#name::placeholder {
    color:white;
}
#name{
    border:none;
    font-size:30px;
    font-family:'Russo One', sans-serif;
    color:white;
    background-color:rgba(255,255,255,0);
}
#submit{
    border:none;
    font-size:15px;
    font-family:'Russo One', sans-serif;
    color:white;
    background-color:rgba(255,255,255,0);
}
#greeting-bg{
    /* border:2px solid gray; */
    box-sizing:border-box;
    width:250px;
    height:330px;
    margin:25px;
    margin-top:30px;
    padding-left:20px;
    padding-top:120px;
    background-color:rgba(0,0,0,0.3);
}
#greeting{
    font-size:70px;
    animation-name:fadeIn, goToUp;
    animation-delay: 0s, 3s;
    animation-duration: 3s, 1s;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes goToUp{
    to {
        transform: translate(0px, -150px);
    }
}
#todo-form{
    margin-top:30px;
    margin-left:0px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    width:700px;
    height:100px;
    background-color:rgba(0,0,0,0.3);
}
#todo::placeholder{
    color:white;
}
#todo{
    border:none;
    width:600px;
    height:100px;
    font-size:25px;
    font-family:'Russo One', sans-serif;
    color:white;
    background-color:rgba(255,255,255,0);
}
#todo-list{
    width:700px;
    height:540px;
    margin-top:30px;
    margin-left:0px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    font-size:23px;
    line-height:2.0;
    list-style-type:none;
    background-color:rgba(0,0,0,0.3);
}